.fortwo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;

  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icon {
  font-size: 250px;
  color: #ffffff;

  animation: rotate 2s linear infinite;
  transition: all 0.7s ease-in-out;

  &:hover {
    color: #5f8679;
  }
}

li {
  list-style: none;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item {
  font-size: 30px;
  color: #ffffff;

  transition: all 0.3s ease-in-out;

  &:hover {
    color: #5f8679;
  }
}

.title {
  font-size: 50px;
  display: flex;
  justify-content: center;
  color: #ffffff;

  transition: all 0.3s ease-in-out;

  &:hover {
    color: #5f8679;
  }
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.down {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  font-size: 40px;
  color: #ffffff;

  transition: all 0.3s ease-in-out;

  &:hover {
    color: #5f8679;
  }
}
