* {
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  background-color: #000;

  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;

  width: 400px;
}

.form_title {
  font-family: "Arial", sans-serif;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.field_label_name {
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  color: #fff;
  gap: 10px;
}

.field_name {
  width: 100%;
  height: 30px;
  padding-left: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  transition: all 0.3s ease-in-out;

  &:hover {
    outline: #c987db 2px solid;
  }

  &:focus {
    outline: #b3f665 2px solid;
  }
}

.field_label_password {
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  color: #fff;
  gap: 10px;
}

.field_password {
  width: 100%;
  height: 30px;
  padding-left: 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  transition: all 0.3s ease-in-out;

  &:hover {
    outline: #c987db 2px solid;
  }

  &:focus {
    outline: #b3f665 2px solid;
  }
}

.field_label_checkbox {
  font-family: "Arial", sans-serif;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
}

.field_check {
}

.btn {
  width: 100%;
  height: 40px;
  background-color: #656565;
  border: none;
  border-radius: 10px;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: #ffffff;
  }

  &:active {
    background-color: #b3f665;
  }
}

/*! avadiv */

.avadiv {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 20px;

  background-color: #000;

  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
}

.avadiv_title {
  font-family: "Arial", sans-serif;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.avadiv_status,
.avadiv_spec,
.avadiv_img_text {
  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.avka {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avadiv_img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
