/* .text {
  border: 1px solid #999999;
  padding: 20px;
  font-size: 18px;
}

.title {
  font-size: 32px;
  font-weight: bold;
  color: #92eced;
}

.btn {
  border: none;
  background-color: #92eced;
  border-radius: 50%;
  padding: 35px;

  font-size: 30px;

  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: #2e5e5f;
  }
} */
