/* .text {
  border: 1px solid #999999;
  padding: 20px;
  font-size: 18px;
}

.title {
  font-size: 32px;
  font-weight: bold;
  color: #92eced;
}

.btn {
  border: none;
  background-color: #92eced;
  border-radius: 50%;
  padding: 35px;

  font-size: 30px;

  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: #2e5e5f;
  }
} */

/* .mybutton {
  border: none;
  background-color: transparent;
  font-size: 25px;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.5);
  }
} */

/* ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mywrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.list {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 32px;
  font-weight: bold;
  color: rgb(81, 102, 46);
}

.btn_inc,
.btn_desc,
.btn_res {
  border: none;
  background-color: rgb(189, 218, 143);
  color: rgb(81, 102, 46);
  border-radius: 30px;
  padding: 15px 30px;
  font-size: 25px;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.5);
  }
} */

.inp {
  width: 200px;
}

.btn {
  width: 100px;
}

.mywrap {
  display: flex;
  justify-content: center;
  gap: 20px;
}
