body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrap_prod {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;

  gap: 20px;
}

.mycontainer {
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.greetcontainer {
  background-color: antiquewhite;
  color: black;

  display: flex;
  justify-content: center;
  align-items: center;
}

.trackerwrap {
  background: -webkit-linear-gradient(
    90deg,
    #0f5739,
    #3d8e66,
    #45c9a4,
    #46b5a9,
    #52c9eb
  );
  background: linear-gradient(
    90deg,
    #0f5739,
    #3d8e66,
    #45c9a4,
    #46b5a9,
    #52c9eb
  );

  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start {
  background-image: url(./images/back.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mywrp {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 300px;
  background-color: #8d9279;
}
